

/** ===== GLOBAL CSS VARIABLES ===== */
:root {
    --brand-rgb: 116,70,246;
    --brand: rgb(var(--brand-rgb));

    /** Light Mode Theme */
    --background-rgb: 242, 240, 245;
    --background: rgb(var(--background-rgb));

    --foreground-rgb: 16, 14, 18;
    --foreground: rgb(var(--foreground-rgb));

    /** Dark Mode Theme */
    /* --background-rgb: 23, 23, 28;
    --background: rgb(var(--background-rgb));

    --foreground-rgb: 255, 255, 255;
    --foreground: rgb(var(--foreground-rgb)); */

    --red-rgb: 226, 84, 84;
    --red: rgb(var(--red-rgb));

    --orange-rgb: 255, 137, 71;
    --orange: rgb(var(--orange-rgb));

    --yellow-rgb: 242, 201, 76;
    --yellow: rgb(var(--yellow-rgb));

    --lime-rgb: 173, 212, 74;
    --lime: rgb(var(--lime));

    --green-rgb: 0, 180, 115;
    --green: rgb(var(--green-rgb));

    --blue-rgb: 84, 158, 226;
    --blue: rgb(var(--blue-rgb));

    --purple-rgb: 116, 70, 246;
    --purple: rgb(var(--purple-rgb));

    --copilot-rgb: var(--purple-rgb);
}
